@model LibraryMS.Users

@{
    ViewData["Title"] = "AccountInfo";
}

<link rel="stylesheet" href="~/css/MakeItPretty.css" />

<div class="row">
    <div class="col-xs-6">
        @Html.RenderPartialAsync("UserProfile")
    </div>

    <div class="col-xs-6">
        <hr />
        <dl>
            <dt>
                <br> <br> <br>
                Email:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                <br>
                Membership Since:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MembershipDate)
            </dd>
            <dt>
                <br>
                Phone Number:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                <br>
                @Html.DisplayNameFor(model => model.Birthday):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt>
                <br>
                Address:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AddressStreet) @Html.DisplayFor(model => model.AddressCity), @Html.DisplayFor(model => model.AddressState) @Html.DisplayFor(model => model.AddressZipcode)
                <br> <br> <br> <br>  <br>  <br> <br>  <br> <br>
            </dd>
        </dl>
    </div>
</div>

