@model LibraryMS.Users

@{
    ViewData["Title"] = "Holds";
}
<link rel="stylesheet" href="~/css/MakeItPretty.css" />

<div class="row">
    <div class="col-xs-4">
        @Html.RenderPartialAsync("UserProfile")
    </div>
    <div class="col-xs-7">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <br /> <br /> <br />
                        Position #
                    </th>
                    <th>
                        Media ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        ISBN
                    </th>



                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.IsWaitlistedBy)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MediaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Media.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Media.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Media.Isbn)
                    </td>

                </tr>
                }

            </tbody>
        </table>
        </div>
    </div>
