@page
@model LibraryMS.Models.Media.MediaIndexListingModel

<h2>Add Media</h2>

<body>
    @using (Html.BeginForm("AddMedia", "Media", FormMethod.Post))
    {
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="2" align="center">Person Details</th>
		</tr>

		<tr>
			<td> </td>
            <td>
                <br>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title" })
            </td>
		</tr>

        <tr>
            <td> </td>
            <td> <br>

                @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
            { new SelectListItem{Text="Books", Value="0"},
            new SelectListItem{Text="Videos", Value="1"}}, "Category", new { @class = "form-control" })
            </td>
        </tr>

		<tr>
			<td>  </td>
			<td> <br>
				@Html.TextBoxFor(m => m.Author, new { @class = "form-control", @placeholder = "Author" })
			</td>
		</tr>

		<tr>
			<td>  </td>
			<td> <br>
				@Html.TextBoxFor(m => m.Isbn, new { @class = "form-control", @placeholder = "ISBN" })
			</td>
		</tr>

		<tr>
			<td> </td>
            <td>
                <br>
                @Html.TextBoxFor(m => m.CallNum, new { @class = "form-control", @placeholder = "Call Number" })
            </td>
		</tr>


		<tr>
			<td> </td>
            <td>
                <br>
                @Html.TextBoxFor(m => m.Genre, new { @class = "form-control", @placeholder = "Genre" })
            </td>
		</tr>

		<tr>
			<td> </td>
            <td>
                <br>
                @Html.TextBoxFor(m => m.CopiesLeft, new { @class = "form-control", @placeholder = "Number of Copies" })
                <br>
            </td>
		</tr>

		<tr>
			<td></td>
			<td><input type="submit" value="Submit" /></td>
		</tr>

	</table>
    }
</body>