@using Microsoft.AspNetCore.Identity
@using LibraryMS.Models
@using LibraryMS

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model LibraryMS.Models.Media.MediaIndexModel

<div id="assets">
    <h3>Library Catalog</h3>
    <div id="MediaTable">

        <form asp-action="Index" method="POST">
            <div class="row input-group">
                <input type="text" name="search" id="search" class="form-control" />

                <div class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>


        <table class="table table-condensed" id="MediaIndexTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                <tr class="assetRow">

                    <td class="">@asset.Title</td>
                    <td class="">@asset.Genre</td>
                    <td class="">@asset.Author</td>
                    <td class="">@asset.CallNum</td>

                    <td class="">@Html.ActionLink("Info/Checkout", "ViewMedia", new { id = asset.Id })</td>

                    @if (SignInManager.IsSignedIn(User) && (UserServices.IsEmployee(User.Identity.Name))){ 
                    <td class="">@Html.ActionLink("Edit", "Edit", new { id = asset.Id }) </td>}






                </tr>
                           


                        }
            </tbody>
        </table>
    </div>
</div>